{% extends "main.html" %}
{% block content %}
{% load staticfiles %}
<section class="parallax parallax-container" data-speed="2">
    <div class="container text-xs-center">
        <h2>web-студия</h2>  
        <h1>eduard design</h1>
        <div class="btn-group btn-head">
            <a href="#how-it-works" class="btn btn-primary btn-lg" role="button">Подробнее</a>
            <button class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#order">Заказать</a>
        </div>
    </div>
</section>

<section class="parallax-container" id="how-it-works" data-speed="2">
    
</section>

<section class="parallax parallax-container" id="price" data-speed="2">
    
</section>

<section class="parallax-container" id="portfolio" data-speed="2">
    
</section>

<section class="parallax parallax-container" id="contact" data-speed="2">
    
</section>
{% endblock %}